<h2 mat-dialog-title>{{ estudianteAEditar ? "Editando Estudiante: " + estudianteAEditar.Apellido + " " + estudianteAEditar.Nombre : "Dar de Alta estudiante" }}</h2>
<mat-dialog-content>
    <form [formGroup]="estudianteForm" class="estudiante-form">
        <span></span> <!-- espacio  -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="DNI" type="number" formControlName="DNI" maxlength="8" minlength="8">
            <mat-error *ngIf="estudianteForm.get('DNI')?.hasError('required') && estudianteForm.get('DNI')?.touched">DNI es requerido</mat-error>
            <mat-error *ngIf="(estudianteForm.get('DNI')?.hasError('minlength') || estudianteForm.get('DNI')?.hasError('maxlength')) && estudianteForm.get('DNI')?.touched">DNI debe tener 8 dígitos</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" type="text" formControlName="Nombre">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" type="text" formControlName="Apellido">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" type="text" formControlName="Telefono" required>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-dialog-close mat-button>Cancelar</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>