@if (isLoading) {
    <mat-spinner></mat-spinner>
    } @else {
    <button (click)="openDialog()" mat-flat-button>
        <mat-icon>add</mat-icon> Crear Clase
    </button>
    
    <h3 class="mat-h3" appTamanioFuente="20px">Listado de Clases</h3>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="full-width-table">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appTamanioFuente="18px" fondo="cornsilk">ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Curso Column -->
        <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appTamanioFuente="18px" fondo="cornsilk">Curso</th>
        <td mat-cell *matCellDef="let element">
            <div>{{ element.curso.nombre }}</div>
            <div>{{ element.curso.descripcion }}</div>
        </td>
        </ng-container>

        <!-- Estudiantes Column -->
        <ng-container matColumnDef="estudiantes">
        <th mat-header-cell *matHeaderCellDef appTamanioFuente="18px" fondo="cornsilk">Estudiantes</th>
        <td mat-cell *matCellDef="let element">
            <ul>
            <li *ngFor="let estudiante of element.estudiantes">
                {{ estudiante.Nombre }} {{ estudiante.Apellido }} (DNI: {{ estudiante.DNI }})
            </li>
            </ul>
        </td>
        </ng-container>

        <!-- Aula Column -->
        <ng-container matColumnDef="aula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appTamanioFuente="18px" fondo="cornsilk">Aula</th>
        <td mat-cell *matCellDef="let element">{{ element.aula }}</td>
        </ng-container>

        <!-- Profesor Column -->
        <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header appTamanioFuente="18px" fondo="cornsilk">Profesor</th>
        <td mat-cell *matCellDef="let element">{{ element.profesor }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>

}