<h2 mat-dialog-title>
    {{ cursoAEditar ? "Editando " + cursoAEditar.descripcion : "Crear curso" }}
</h2>
<mat-dialog-content>
    <form [formGroup]="cursoFormulario">
        <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput />
        <mat-error>El campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Descripcion</mat-label>
            <input formControlName="descripcion" matInput />
            <mat-error>El campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Fecha inicio - Fecha fin</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio" />
                <input matEndDate formControlName="fechaFin" placeholder="Fecha fin" />
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSubmit()" mat-button>Guardar</button>
</mat-dialog-actions>