<div class="logueo">
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title class="login-title">Inicia Sesion</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">            
            <mat-form-field style="padding-right: 10px; width: 100%;">
                <mat-label>Legajo</mat-label>
                <input matInput placeholder="legajo" type="text">
                <mat-icon matSuffix>legajo</mat-icon>
                <mat-hint>Ingresa tu legajo</mat-hint>
            </mat-form-field>
            <mat-form-field style="padding-right: 10px; width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" type="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Ingresa tu contraseña</mat-hint>
            </mat-form-field>
            <button style="display: block; width: 100%;" mat-fab extended color="primary">Ingresar</button>
        </form>
    </mat-card-content> 
</mat-card> 
</div>