<div class="logueo">
<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title class="login-title">Logueate</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="login-form">            
            <mat-form-field style="padding-right: 10px;" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="text">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Ingresa tu email</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" type="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Ingresa tu contraseña</mat-hint>
            </mat-form-field>
            <button style="display: block; width: 100%;" mat-fab extended color="primary">Ingresar</button>
        </form>
    </mat-card-content> 
</mat-card> 
</div>